* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
    border: 2px solid red;
}

.main-text {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    border: 3px solid blue;
}

.first-col, .third-col {
    display: flex;
    align-items: center;
}

.second-col {
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
}

.card {
    width: 100%;
    height: 200px;
    border: 2px solid black;
}