.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin-top: 3rem;

    // border: 3px solid blue;

    @include smaller-than-tablet {
        display: block;
        .first-col, .second-col, .third-col {
            .card {
                margin-bottom: 2rem;
            }
        }
    }
}

.first-col, .third-col {
    display: flex;
    align-items: center;
}

.second-col {
    display: flex;
    flex-direction: column;

    .card {
        margin-block: 0.5rem;

        @include smaller-than-tablet {
            // margin: 0;
        }
    }
}